.getCartId {
	margin: 50px;
}

.cstm-table td {
	border: none;
}

.response {
	margin: 5px;
}

.heading {
	
}

.glyphicon {
	margin-top: 10px;
	cursor: pointer;
}

.glyphicon-minus {
	color: #e40046;
}

.glyphicon-plus {
	color: #3f983f;
}

.btn {
	background-color: #e40046;
	color: #fff;
}

.btn:hover {
	background-color: #fff;
	color: #e40046;
	border: 1px solid #e40046;
}

.head {
	font-size: 36px;
	background-color: #e40046;
	padding: 20px;
	color: #fff;
	width: 1286px;
	height: 80px;
	position: fixed;
	opacity: 1;
	z-index: 100;
}

.logo {
	vertical-align: middle;
	margin-right: 18px;
	margin-left: 44px;
}

body {
	margin-top: -20px;
}

.container {
	padding-top: 90px;
}

.response {
	word-wrap: break-word;
}

.glyphicon-leaf {
	color: green;
	margin-right: 10px;
}

.glyphicon-trash {
	color: brown;
	margin-right: 10px;
}

.panel-default {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 3%;
}

.panel-title {
	text-align: center;
}
